.edit_container{
    width: 300px;
    height: 265px;
    background-color: #03555C;
    border-radius: 10px;
    box-shadow: 0px 3px 2px 0px #888888;
    margin: 0;
}
.header{
    width: 77%;
    height: 50px;
    margin: auto;
    border-bottom-color: white;
    border-bottom-width: thin;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    align-items: center
}
.task_container{
    width: 87%;
    height: 140px;
    margin-left: 20px;
    margin-top: 10px; 
}
.task_content{
    resize: none;
    max-height: 70%;
    height: 70%;
    color: white;
    border-radius: 5px;
    border: none;
    width: 95%;
    outline: none;
    color: black;
    padding: 5px;
    padding-left: 5px;
    font-family:"Times New Roman", Times, serif; 
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
}

.btns{
    width: 52%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-left: 24%;
    justify-content: space-between
}