.task_container{
    height: 70px;
    width: 100%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}
.btns{
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
.task_text{
    width: 700px;
    height: 40px;
    line-height: 36px;
    color: black;
    font-size: 15px;
    /* background-color: yellow; */
    padding-left: 5px
}
.checkbox{
    width:17.9px;
    height: 17.63px;
    cursor: pointer;
    border: 3.2px solid black;
    border-radius: 4px;
    margin-bottom: 5px;

}